.newpost_add{
    width: 20rem;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 3rem;
}



.card_main{
    display: flex;
}

.card-img-top{
    height: 15rem;
    
}

.card{
    padding: 1rem;
}

.row{
    margin: 2rem;
}




